@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 128, 0, 0;
  --primary-orange: 255, 165, 0;
  --primary-yellow: 255, 215, 0;
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

.gradient-text {
  background: linear-gradient(90deg, #FFA500 0%, #FFD700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Blog Content Styles */
.prose h2 {
  @apply text-2xl font-bold mt-8 mb-4;
}

.prose h3 {
  @apply text-xl font-semibold mt-6 mb-3;
}

.prose p {
  @apply text-gray-600 mb-4;
}

.prose ul, .prose ol {
  @apply mb-4 ml-6;
}

.prose li {
  @apply text-gray-600 mb-2;
}

.prose ul li {
  @apply list-disc;
}

.prose ol li {
  @apply list-decimal;
}

